apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: winged
  labels:
    app: postgres-db
spec:
  selector:
    app: postgres-db
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  type: ClusterIP